<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="navbar  navbar-dark bg-primary">
        {% if app.user %}
        <a class="navbar-brand" href="{{path('index')}}">Management de la relation Client (CRM)</a>
        {% else %}
        <a class="navbar-brand">Management de la relation Client (CRM)</a>
        {% endif %}
        {% if app.user %}
            <a class="btn btn-secondary" href="{{path('app_logout')}}">Logout</a>
        {% endif %}
    </nav>
        {% block body %}{% endblock %}
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
